<div id="page-content">
  <dev class="container">
    
  <div class="jumbotron text-center text-white" >
  <h1 class="display-4">Report Catalog!</h1>
  <br>
    </br>
    <br>
    </br>
    <br>
    </br>
    <br>
    </br>  
    <br>
    </br>  
    <br>
    </br>  
    <br>
    </br>  
    
      <p class="lead">This is a simple utility to list all the standard and custom reports available with different versions of inform
      </p>
      <hr class="my-4">
      <p>It is a helpfull tool for TC/PMs and developers to refer existing library of report.</p>
      <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
    </div>
    </dev>
</div>
