<h1>Editing Report</h1>

<%= render 'form', report: @report %>

<div href="#" class="btn btn-success"> <%= link_to 'Show', @report %> </div> |
<div href="#" class="btn btn-danger"> <%= link_to 'Back', reports_path %> </div>